base {
    image "ghcr.io/ublue-os/aurora:stable"
    about "KDE developer workstation over kinoite-main"
    family "fedora"
    provides "rechunking" "flatpak"
    signed #true
    scap-content "ssg-fedora-ds.xml"
    bootloader "grub2"
}
